/* * {
  overflow: hidden;
} */
.posts {
  margin: 20px auto;
}

.sub_page_title {
  margin-top: 100px;
  text-align: center;
}

.sub_page_uploaded_files {
  width: 70vw;
  height: 70vh;
  background-color: gray;
  margin: 0 auto;
}
/* 
.sub_page_file {
  width: 300px;
  height: 300px;
  background-color: white;
} */

.sub_page_file img {
  width: 30px;
  height: 30px;
}

.profile_card {
  max-width: 400px;
  margin: 150px auto 0 auto;
}

.profile_logout {
  margin: 0 auto;
  text-align: center;
}

.center_div {
  margin: 150px auto 0 auto;
  max-width: 400px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.profile_avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #0b5ed7;
}

.forum_img {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px;
}

.forum_img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* CHAT STYLES */

.chat_header {
  position: sticky;
  top: 55px;
  background-color: green;
  width: 52.9vw;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.chat_pp_recipient img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat_form_wrap {
  height: 75px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 52.8vw;
  gap: 20px;
  margin-top: 20px;
}

/* MESSAGE STYLES */

/* SEMESTERS PAGE */

/* SCROLL BAR FOR CHROME */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
